<!DOCTYPE html>
<html lang="en">

<head>

    <script src='./JS/app.js'>     </script>
</head>

<body>
    {{>header}}
    <h1>
        This is a HBS Template file
    </h1>

    <h1>

        this is a name of : {{name}}
    </h1>
    <img src='./img/ic_launcher.png' />
</body>

</html>